#particles{
    width: 100%;
    height: 500px !important;
}
.intro{
    margin-top: -333px !important;
    text-align: center;
}



.flex1 {
    display: flex;
  }
  .flex2 {
    flex: 1;
  }

.btn-journey {
    text-decoration: none;
    text-align: center;
    color: #17171d;
    background-color: #f16161;
    border-radius: 10px;
    border: 5px solid #f16161;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    height: 40px;
    padding: 4px 14px;
    min-height: 30px;
    min-width: 100px;
    /* top right bottom left */
    padding-bottom: 4.5px;
    padding-top: 5.5px;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.9;
  }
  
  .btn-journey:hover {
    color: #17171d;
    text-decoration: none;
    box-shadow: 0 5px 25px #f76c6c;
    /* box-shadow: 3px 3px 3px 3px #f76C6C; */
    opacity: 1;
    transition: background-color 0.5s ease-out, -webkit-box-shadow 0.2s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out,
      -webkit-box-shadow 0.2s ease-out;
  }
  