/* navbar starts */

.nav-item a {
  font-weight: 700;
  color: #17171d;
}

.main_nav_content {
  padding-top: 20px !important;
}

.button_style_navbar {
  text-decoration: none;
  text-align: center;
  color: #17171d;
  margin-left: 10px;
  background-color: #f76c6c;
  border-radius: 10px;
  border: 5px solid #f76c6c;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  height: 40px;
  padding: 4px 14px;
  min-height: 30px;
  min-width: 100px;
  /* top right bottom left */
  padding-bottom: 4.5px;
  padding-top: 5.5px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.9;
}

.button_style_navbar:hover {
  color: #17171d;
  text-decoration: none;
  box-shadow: 0 5px 25px #f76c6c;
  /* box-shadow: 3px 3px 3px 3px #f76C6C; */
  opacity: 1;
  transition: background-color 0.5s ease-out, -webkit-box-shadow 0.2s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out,
    -webkit-box-shadow 0.2s ease-out;
}

.button_style_navbar_login {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  background-color: #374785;
  border-radius: 10px;
  border: 5px solid #374785;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  height: 40px;
  padding: 4px 14px;
  min-height: 30px;
  min-width: 100px;
  /* top right bottom left */
  padding-bottom: 4.5px;
  padding-top: 5.5px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.9;
}

.button_style_navbar_login:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 25px #374785;
  opacity: 1;
  transition: background-color 0.5s ease-out, -webkit-box-shadow 0.2s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out,
    -webkit-box-shadow 0.2s ease-out;
}

#canvas {
  border: 2px solid red;
  width: 100% !important;
  height: 500px;
  margin-top: 90px;
}

.banner_header {
  width: 100%;
  height: 750px;
  background-color: antiquewhite;
  padding-top: 116px !important;
  padding-left: 50px;
  background-image: url("asset/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_btn {
  margin: 30px 10px 15px -12px;
}

.banner_btn p {
  font-weight: 700;
  margin-left: 20px;
  margin-top: 30px;
}

.banner_image {
  width: 100%;
  height: 100%;
  margin-top: -4rem;
  text-align: center;
}

.banner_over {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  padding-top: 50px;
  padding-left: 20px;
  border-radius: 10px;
}

.banner_transparent {
  /* margin-top: -15rem; */
  /* background: transparent; */
}

.system_box_margin {
  text-align: center;
  /* margin-left: 15px;
    margin-right: 15px; */
}

.system_box {
  width: 100px;
  height: 250px;
  /* background-color: #0041ca; */
  border-radius: 5px;
  padding: 15px 10px 10px 10px;
  /* margin: 10px 25px 10px 25px !important; */
}

.system_box h4 {
  margin-top: 10px !important;
}

.recomonded {
  background-color: white;
  padding-top: 0.5px;
  height: 300px;
  border-radius: 10px;
}

.recomonded-card {
  text-align: left;
}

.recomonded-card small {
  position: absolute;
  bottom: 10px;
}

.card {
  margin-bottom: 20px !important;
}

.recomonded-card a {
  margin-top: 200px !important;
  text-decoration: none !important;
  position: absolute;
  bottom: 40px;
  color: black;
  background-color: #f8e9a1;
  border-radius: 5px;
  border: 5px solid #f8e9a1;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  min-height: 32px;
  height: auto;
  min-width: 90px;
  padding: 4px 14px;
  /* top right bottom left */
  padding-bottom: 4.5px;
  padding-top: 3.5px;
  font-size: 14px;
  font-weight: 700;
}

.recomonded-card a:hover {
  color: black;
  background-color: turquoise;
}

.tab_link_design {
  background: white !important;
  border-radius: 5px;
  font-weight: 700;
  color: black !important;
}

.nav-link.active {
  background-color: #f76c6c !important;
}

.upcomming_courses {
  background-color: antiquewhite;
  background-image: url("asset/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.items-course {
  display: flex !important;
  overflow-x: auto !important;
}

.items-course .item-course {
  min-width: 400px;
  height: 500px;
  margin: 10px;
}

/* benifits */

.box_border {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px gainsboro;
  color: indianred;
}

.box_border h5 {
  font-weight: bold !important;
}
.box_border span {
  font-size: 55px;
}

/* .border-middle{
    border-right: 5px solid #f76c6c; 
}
.corporate {
  background-color: #fc4141;
  border-radius: 5px;
  border: 2px solid #fc4141;
}
.corporate span {
  font-size: 45px;
}
.products {
  background-color: #f8e9a1;
  border-radius: 5px;
  border: 2px solid #f8e9a1;
}
.products span {
  font-size: 45px;
}

.scientist {
  background-color: burlywood;
  border-radius: 5px;
  border: 2px solid burlywood;
}
.scientist span {
  font-size: 45px;
}
.intership {
  background-color: #a8d0e6;
  border-radius: 5px;
  border: 2px solid #a8d0e6;
}
.intership span {
  font-size: 45px;
}
.aspirants {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid cornflowerblue;
}
.aspirants span {
  font-size: 45px;
}
.trained {
  background-color: aquamarine;
  border-radius: 5px;
  border: 2px solid aquamarine;
}
.trained span {
  font-size: 45px;
} */












/* new */

/* .wrapper {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
} */

.tab-wrapper_intern {
  text-align: start;
  display: block;
  /* margin: auto; */
  max-width: 500px;
  margin-top: 70px;
  margin-bottom: -9rem;
  border-bottom: 2px solid red;
}

.tabs_intern {
  margin: 0;
  margin-left: 40px !important;
  padding: 0;
  /* width: 100%; */
  display: flex;
  overflow-x: auto;
  justify-content: start;
  
}

.tab-links {
  margin: 0 1%;
  list-style: none;
  margin-left: 15px;
  /* padding: 10px 40px; */
  color: black;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.5s;
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  letter-spacing: 1px;
}

.tab-links:hover {
  color: #999;
  border-color: #999;
}

.tab-links.active {
  color: #333;
  border-color: #333;
}

.tab-links:nth-of-type(1).active {
  
  color: #eec63b;
  border-color: #eec63b;
}

.tab-links:nth-of-type(2).active {
  color: #1790d2;
  border-color: #1790d2;
}

.tab-links:nth-of-type(3).active {
  color: #ee6534;
  border-color: #ee6534;
}

.content-wrapper_intern {
  /* padding: 40px 80px; */
  height: 516px;
  margin-top: 50px;
  /* border: 1px solid #15202b; */
  background-color: whitesmoke;
  overflow: hidden;

}

.tab-content_intern {
  margin-top: 150px;
  display: none;
  text-align: center;
  color: #888;
  font-weight: 300;
  font-size: 15px;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content_intern.active {
  display: block;
}


.tab-content_intern h3,p {
  font-weight: 700;
  color: #17171d;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}

.img_design img {
  width: 100%;
  margin-top: -151px;
  /* height: fit-content; */
  height: 517px;
}

/* .imgae_style img{
  width: 100%;
  margin-top: -500px;
} */

/* new */

















.benifits {
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: white;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

.icon-style {
  margin-top: 15px !important;
  padding-top: 15px !important;
  font-size: 20px !important;
}

.pageleft {
  border-right: 2px solid whitesmoke;
}

.testimonial_section {
  background-image: url("asset/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
}

.items {
  display: flex;
  overflow-x: auto;
}

.items .item {
  min-width: 313px;
  height: 487px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

.read_more {
  border-top: 1px solid darkblue;
  padding-top: 20px;
}

.flex-items {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flex-item {
  flex: 33.3%;
}

.flex-item img {
  width: 80%;
  height: 108px;
  border-radius: 50%;
}

.flex-item p {
  line-height: 2px;
}

.image-name-testimonial {
  padding-left: 15px;
  padding-top: 10px;
}

.mentroship_section {
  background-image: url("asset/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menotr p {
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}

.mentor-items {
  display: flex;
  overflow-x: auto;
}

.mentor-items .mentor-item {
  min-width: 323px;
  height: 400px;
  margin: 5px;
}

.mentor-item img {
  object-fit: cover !important;
}

.card-item {
  border-radius: 5px;
}

.mentor_read_more {
  margin-top: 10px;
  border-top: 1px solid darkblue;
  padding-top: 20px;
}

.read_more_btn {
  font-weight: bold;
  color: whitesmoke;
  background-color: #374785;
  border: #374785;
  text-decoration: none;
}

.linkedin_icon {
  margin-left: 82px;
}

.adventage-info-1 {
  padding-top: 70px !important;
  padding-left: 250px !important;
  background-color: whitesmoke;
  height: 350px;
  background-image: url("asset/bg3.PNG");
  background-position: right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 50mm;
  /* Resize the background image to cover the entire container */
}

.adventage-paragraph {
  width: 350px;
}

.adventage-info {
  padding-top: 70px;
  padding-left: 60px !important;
  padding-right: 250px !important;
  background-color: #d4d5d7;
  height: 350px;
  background-image: url("asset/bg4.PNG");
  background-position: 75% center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 50mm;
  /* Resize the background image to cover the entire container */
}

.adventage-btn {
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 5px solid black;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  min-height: 32px;
  height: auto;
  min-width: 90px;
  padding: 4px 14px;
  /* top right bottom left */
  padding-bottom: 4.5px;
  padding-top: 3.5px;
  font-size: 14px;
  font-weight: 700;
}

.adventage-btn:hover {
  color: white;
  background-color: black;
}

.becomae_menotr {
  background-color: #a8d0e6;
  width: 100%;
  height: auto;
}

.know_more_info {
  background-color: #f76c6c;
}

.becomae_menotr button {
  margin-top: 50px;
}

.partnership-items {
  display: flex;
}

.partnership-item {
  margin: 0px;
  padding: 10px;
}

.box {
  width: 350px;
  height: 610px;
  background-color: #1e1e26;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}

.model {
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.details p {
  font-family: calibri;
  font-weight: bold;
  color: #6a6a74;
  text-align: center;
  margin-top: 20px;
}

.marvel {
  color: #32323e;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: bebas kai;
  font-size: 25px;
}

.logo {
  height: 60px;
}

.box:hover {
  background-color: #17171d;
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}

.box:hover .marvel {
  color: #c0292b;
  transition: all ease 0.5s;
}
/*--responsive for mobile phone--*/

/* get to know us starts */
.get_to_know_us {
  background-image: url("asset/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* get to know us ends */

/* footer start  */
.footer {
  background-color: lightgray;
}

/* footer end */

@media (max-width: 720px) {
  .box {
    width: 94%;
    height: 500px;
  }
  .model {
    height: 250px;
  }
  .details p {
    font-size: 16px;
    width: 250px;
  }
}

/* modal starts */

.modal.left .modal-dialog {
  position: fixed;
  right: 0;
  margin: auto;
  width: 363px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

/* modal end */

/* partnership ends */

@media only screen and (max-width: 770px) {
  .banner_transparent {
    margin-top: 0rem;
    background: whitesmoke;
  }
  .banner_header {
    text-align: center;
    padding-left: 0px;
    text-align: center;
    height: auto;
  }
  .banner_btn {
    margin-left: 0px;
  }
  .banner_btn {
    margin: 15px 0px 0px 0px;
    text-align: center;
    display: block;
  }
  .banner_image {
    width: 50%;
    height: 50%;
    /* margin-top: 0rem; */
    display: block;
    margin-left: -6rem;
    margin-right: -2rem;
  }
  .button_style_navbar_login {
    display: block;
    text-align: center;
  }
  .button_style_navbar {
    display: block;
    text-align: center;
  }
  .system_box {
    width: 80px;
    height: 100px;
  }
  .system_box {
    width: 80px;
    height: auto;
    margin: 0px 0px 10px 0px !important;
  }
  .pageleft {
    border-bottom: 2px solid whitesmoke;
    border-right: 0px solid whitesmoke;
  }
  .items::-webkit-scrollbar {
    display: none;
  }
  .items-course::-webkit-scrollbar {
    display: none;
  }
  /* advantage part */
  .adventage-info-1 {
    background-color: whitesmoke;
    background-image: none;
  }
  .adventage-paragraph {
    width: 270px;
  }
  .adventage-info {
    background-color: whitesmoke;
    background-image: none;
    padding-top: 70px !important;
    padding-left: 30px !important;
    background-color: #d4d5d7;
    height: 350px;
    margin-top: 0px !important;
  }
  .adventage-info-1 {
    background-color: whitesmoke;
    background-image: none;
    margin-top: 0px !important;
    padding-top: 50px !important;
    padding-left: 30px !important;
  }
  .adventage-btn {
    width: 200px;
  }
  /* advantage ends */

  /* benifits starts*/

  .border-middle {
    border-right: 0px solid #f76c6c;
    border-bottom: 5px solid #f76c6c;
  }

  /* benifits ends */

  /*  particales */

  #particles {
    width: 100%;
    height: 600px;
  }

  .img_design img {
    margin-top: 0px;
  }

  .content-wrapper_intern {
    height: 840px;
  }
  .tabs_intern {

    margin-left: 0px !important;
  }
}
